section.new-tweet {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  /* border: 1px black solid; */
  width: 100%;
  align-items: space-between;

}


#tweet-text {
  margin: 0px; 
  width: 100%; 
  height: 31px;
  border: 0px;
  border-bottom: solid black 6px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #f4f1ec;;
  
}
output.counter {
  font-family: 'Bungee', sans-serif;
}

button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: aliceblue;
  border: 0px;
}
div.tweet-and-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

output.negative-val {
  color: red;
  font-family: 'Bungee', sans-serif;

}